@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,700;1,400&display=swap');

@layer base {
  // :root {
  //   --color-primary: 77 99 188;
  //   --color-secondary: 139 197 63;
  //   --color-background: 255 255 255;
  // }

  // doesn't work
  // @media (prefers-color-scheme: dark) {
  //   --color-primary: 110 144 218;
  //   --color-secondary: 140 196 72;
  //   --color-background: 28 28 28;
  // }
  
  h1 {
    @apply font-extralight tracking-wide leading-normal;
  }
  h4 {
    @apply font-bold uppercase;
  }
}

@keyframes fadeInContent {
	from {
    opacity: 0;
    transform: translateY(30px);
	}
	to {
    opacity: 1;
    transform: translateY(0);
	}
}

main.app {
  animation: fadeInContent 0.5s ease-in-out;
}